.photo-grid {
  margin: 0 auto;
  margin-top: 64px;
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(12, 1fr);
  grid-auto-rows: 1fr;
  gap: 12px;
}

@media screen and (min-width: 425px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

@media screen and (min-width: 768px) {
  .photo-grid {
    margin-top: 88px;
    padding-left: 24px;
    padding-right: 24px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .photo-grid {
    margin-top: 92px;
    padding-left: 48px;
    padding-right: 48px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .photo-grid {
    max-width: 1280px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
  }
}