.place__image {
  width: 100%;
  height: auto;
  margin-left: 0;
  margin-right: 0;
  grid-area: image;
}

@media screen and (min-width: 425px) {
  .place__image {
    width: 100%;
    height: 425px;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

@media screen and (min-width: 768px) {
  .place__image {
    width: 340px;
    height: 340px;
  }
}

@media screen and (min-width: 1024px) {
  .place__image {
    width: 440px;
    height: 440px;
  }
}

@media screen and (min-width: 1280px) {
  .place__image {
    width: 460px;
    height: 460px;
  }
}
