.lead {
    max-width: 320px;
    margin: 0 auto;
    margin-top: 48px;
}

@media screen and (min-width: 768px) {
    .lead {
        max-width: 768px;
    }
}

@media screen and (min-width: 1024px) {
    .lead {
        max-width: 1024px;
        padding-left: 48px;
        padding-right: 48px;
    }
}

@media screen and (min-width: 1280px) {
    .lead {
        max-width: 1280px;
        padding-left: 148px;
        padding-right: 148px;
        margin-top:  56px;
    }
}