.lead {
  margin-top: 48px;
  line-height: 10px;
}

@media screen and (min-width: 1024px) {
  .lead {
    box-sizing: border-box;
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .lead {
    max-width: 1080px;
    margin:  56px auto 0;
  }
}