.cover__subtitle {
  z-index: 1;
  max-width: 360px;
  padding: 0;
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  vertical-align: middle;
}

@media screen and (min-width: 768px) {
  .cover__subtitle {
    font-size: 18px;
    line-height: 22px;
    padding-left: 0;
    padding-right: 0;
  }
}
