.header {
  box-sizing: border-box;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 28px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    max-width: 1280px;
    margin: 0 auto;
  }
}