.footer__link {
  margin-right: 0;
  margin-bottom: 32px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  display: inline-block;
  transition: opacity .3s linear;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .footer__link {
    margin-right: 19px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 18px;
  }
}