.footer__links {
  padding: 0;
  margin: 0;
  list-style: none;
    
}

@media screen and (min-width: 768px) {
  .footer__links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: stretch;
  }
}