.place__paragraph {
  padding: 0;
  margin: 0 0 25px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px; 
}

.place__paragraph:last-of-type {
  margin: 0;
}

@media screen and (min-width: 1024px) {
  .place__paragraph {
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 26px;
  }
}



