.cover {
  max-width: 1280px;
  box-sizing: border-box;
  padding: 92px 48px 92px;
  margin: 0 auto;
  /* background-image: url(../../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
}