.cover {
  margin: 0 auto;
  margin-top: 66px;
}

@media screen and (min-width: 768px) {
  .cover {
    margin-top: 90px;
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    margin-top: 92px;
  }
}

@media screen and (min-width: 1280px) {
  .cover {
    max-width: 1280px;
    box-sizing: border-box;
    padding-left: 48px;
    padding-right: 48px;
  }
}
