.cover__overlay {
  position: relative;
  min-width: 320px;
  min-height: 200px;
  margin-left: 0;
  margin-right: 0;
  background-image: url(../../../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.cover__overlay::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity .3s linear;
}

.cover__overlay:hover::before {
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .cover__overlay {
    min-width: 768px;
    min-height: 480px;
  }
}

@media screen and (min-width: 1024px) {
  .cover__overlay {
    min-width: 1024px;
    min-height: 640px;
  }
}

@media screen and (min-width: 1280px) {
  .cover__overlay {
    min-width: 1184px;
    min-height: 740px;
  }
}