.cover__title {
  position: relative;
  z-index: 1;
  max-width: 560px;
  padding: 0;
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto 16px;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .cover__title {
    font-size: 72px;
    line-height: 76px;
    margin-bottom: 32px;
    padding-left: 0;
    padding-right: 0;
  }
}



