.lead__container {
    box-sizing: border-box;
    padding-right: 16px;
    padding-left: 16px;
}

@media screen and (min-width: 768px) {
    .lead__container {
        padding-right: 24px;
        padding-left: 24px;
    }
}

@media screen and (min-width: 1024px) {
    .lead__container {
        padding-right: 0;
        padding-left: 0;
    }
}