.place {
  margin-bottom: 50px;
  display: grid; 
  grid-auto-flow: row;
  grid-template-columns: 1fr; 
  grid-template-rows: repeat(4, max-content); 
  gap: 32px; 
  grid-template-areas: 
  "title"
  "website"
  "image"
  "text";
}

.place:last-of-type {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .place {
    margin-bottom: 72px;
    grid-auto-flow: row;
    grid-template-columns: 340px 1fr; 
    grid-template-rows: repeat(2, max-content); 
    gap: 48px 28px; 
    grid-template-areas: 
    "title website"
    "image text";
  }
}

@media screen and (min-width: 1024px) {
  .place {
    margin-bottom: 80px;
    grid-template-columns: 440px 1fr;
    gap: 48px 32px;
  }
}

@media screen and (min-width: 1280px) {
  .place {
    grid-template-columns: 460px 1fr;
    gap: 48px 40px;
  }
}