.place {
  margin-bottom: 80px;
  display: grid; 
  grid-auto-flow: column;
  grid-template-columns: 440px 1fr; 
  grid-template-rows: repeat(2, max-content); 
  gap: 48px 32px; 
}

.place:last-of-type {
  margin-bottom: 0;
}

@media screen and (min-width: 1280px) {
  .place {
    grid-template-columns: 460px 1fr;
    gap: 48px 40px;
  }
}