.footer {
  margin: 64px auto 0;
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px;
  line-height: 10px;
}

@media screen and (min-width: 768px) {
  .footer {
    margin-top: 88px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: flex-end;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    margin-top: 92px;
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    max-width: 1280px; 
  }
}